/* EVERYTHING */
@import url('https://fonts.googleapis.com/css?family=Lato');

@font-face {
    font-family: Leelawadee;
    src: url(../assets/fonts/LeelawUI.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Leelawadee;
    src: url(../assets/fonts/LeelaUIb.ttf);
    font-weight: bold;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Lato;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    background: rgb(229, 229, 229);
}

button:focus, button:active, a:active, a:hover {
    outline: 0;
}
/* END OF EVERYTHING*/

/* LANDING SECTION */
header {
    height: 100vh;
    background-image: url("../assets/images/Mountains.png");
    background-size: cover;
    background-position: center;
    font-family: Leelawadee, Arial, sans-serif;
}
header a, header a:visited {
    color: inherit;
    text-decoration: none;
}

.land-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 300%;
    /*undecided:   font-family: Leelawadee;*/
}
h4 {
    font-size: 70%;
    font-family: Leelawadee;
    font-weight: bold;
    color: grey;
}

.land-content ul {
    margin-top: 20px;
}
.land-content a {
    display: inline-block;
    height: 50px;
    width: 50px;
    font-size: 0;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
}

.github {
    background-image: url(../assets/images/svg/Github.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.behance {
    background-image: url(../assets/images/svg/Behance.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.resume {
    background-image: url(../assets/images/svg/ResumeIcon.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
/* END OF LANDING SECTION */

/* MOBILE HEADER SECTION */
nav {
    background: rgba(255, 255, 255, 0.90);
}
nav ul {
    display: none;
}
nav ul a {
    display: block;

    text-align: center;
}
.nav-bar {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
        position: fixed;

    padding: 20px 10px;
}

.home {
    background: url(../assets/images/svg/HomeIcon.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.about {
    background: url(../assets/images/svg/AboutIcon.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.skills {
    background: url(../assets/images/svg/SkillsIcon.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.projects {
    background: url(../assets/images/svg/ProjectsIcon.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.contact {
    background: url(../assets/images/svg/ContactIcon.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.logo {
    /*background: pink;*/
    display: inline-block;
    font-size: 0;
    width: 40px;
    height: 30px;

    background-image: url("../assets/images/svg/DS-Logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}
/* End of LANDING */


[class*="col-"] {
    float: none;
    width: auto;
    padding: 15px;
}

.row {
    padding: 10px 0;
    min-height: 100vh;
}

    .row:nth-child(odd) {
        background: lightgrey;
    }


/* MEDIA QUERIES - Mobile First */
/* Tablet */
@media only screen and (max-width: 768px) and (min-width: 425px) {
    .col-m-1 {
        width: 8.33%;
    }

    .col-m-2 {
        width: 16.66%;
    }

    .col-m-3 {
        width: 25%;
    }

    .col-m-4 {
        width: 33.33%;
    }

    .col-m-5 {
        width: 41.66%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-7 {
        width: 58.33%;
    }

    .col-m-8 {
        width: 66.66%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-10 {
        width: 83.33%;
    }

    .col-m-11 {
        width: 91.66%;
    }

    .col-m-12 {
        width: 100%;
    }

    [class*="col-"] {
        float: left;
        padding: 15px;
        /*background: darkgrey;*/
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }
}

/* Desktop */
@media only screen and (min-width: 769px) {

    /* Navigation Elements */
    nav {
        position: fixed;
        width: 70px;
        height: 90vh;
        /* should fix bug, check on iOS float: left;*/
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px 0;
        background: rgba(255, 255, 255, 0);
    }
        nav ul {
            list-style: none;
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            border-right: grey solid 1px;

            text-align: right;
        }
        nav li {
            flex-grow: 1;
            display: flex;
        }
            nav li a {
                display: block;
                flex-grow: 1;
                margin: 0 auto;
                vertical-align: middle;
                /*font-size: 0;*/
            }
            nav li a span {
                display: inline-block;
                -ms-transform: rotate(-90deg); /* IE 9 */
                -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
                transform: rotate(-90deg);
                margin: auto 0;
            }
    nav li:first-child {
        display: none;
    }
    .nav-bar {
        padding: 0px;
        position: static;
    }

    .about {
        background: url(../assets/images/svg/AboutIcon.svg) no-repeat center;
        background-size: 40%;
    }
    .skills {
        background: url(../assets/images/svg/SkillsIcon.svg) no-repeat center;
        background-size: 40%;
    }
    .projects {
        background: url(../assets/images/svg/ProjectsIcon.svg) no-repeat center;
        background-size: 40%;
    }
    .contact {
        background: url(../assets/images/svg/ContactIcon.svg) no-repeat center;
        background-size: 40%;
    }
    .logo {
        display: block;
        width: 30px;
        height: 30px;
        margin: 0px auto;
        opacity: 0.8;
        transition: opacity linear .15s;
    }
        .logo:hover {
            opacity: 1;
        }
    .hamburger {
        display: none;
    }
    h1 {
        font-size: 500%;
    }
    h4 {
        font-size: 80%;
    }

    .land-content a {
        height: 50px;
        width: 50px;
        opacity: 0.8;
        transition: opacity, box-shadow linear 0.25s;
    }
        .land-content a:hover {
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
            opacity: 1;
        }

    .content {
        width: 70%;
        margin: 0 auto;
    }

    /* Responsive Grid Classes */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
    [class*="col-"] {
        float: left;
        padding: 15px;
        /*background: darkgrey;*/
    }
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
}
