/* EVERYTHING */
@import url('https://fonts.googleapis.com/css?family=Lato');

@font-face {
    font-family: Leelawadee;
    src: url(../assets/fonts/LeelawUI.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Leelawadee;
    src: url(../assets/fonts/LeelaUIb.ttf);
    font-weight: bold;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Lato;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    background: rgb(229, 229, 229);
}

button:focus, button:active, a:active, a:hover {
    outline: 0;
}
